/* Style général du corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6; /* Gris clair de fond */
    color: #333;
    margin: 0;
    padding: 30px;
    text-align: center;
}
#contenu-principal {
        width: 100%;
      padding: 0px;
     border: 0px;
   text-align: center; /* Centre tout le texte à l'intérieur de ce bloc */
    }
div .center{
  justify-content: center; /* Centrage horizontal */
  align-items: center; /* Centrage vertical */
 margin-left: auto;
  margin-right: auto;
  width: 50%; /* Ou toute autre valeur selon la taille désirée */
}
/* Tableau */
table{
    border-collapse: collapse; /* Supprime les espaces entre les bordures */
  width: auto;              /* Réduit la largeur du tableau à son contenu */
}

  th, td {
            text-align: center;
            border: 1px solid #ddd;
       padding: 0;              /* Supprime le padding à l'intérieur des cellules */
  margin: 0;               /* Supprime le margin (utile dans certains cas) */
  text-align: center;      /* Alignement du texte, optionnel */
  font-size: 10px;         /* Réduit la taille du texte (ajustez selon vos besoins) */
  white-space: nowrap;     /* Empêche le retour à la ligne dans le contenu */
        }
        th {
            background-color: #333;
            color: #fff;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        .check {
            color: green;
            font-weight: bold;
        }
        .cross {
            color: red;
            font-weight: bold;
        }

/* Styles du header */
header {
    background-color: #555; /* Gris foncé */
    padding: 30px;
    text-align: center;
}

header h1 a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Ombre légère */
}

header h1 a:hover {
    text-decoration: underline;
}

/* Style des titres */
h1, h2, h3, h4, h5 {
    color: #FFD700; /* Jaune or */
    font-size: 16px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); /* Ombre légère */
}

/* Menu */
nav {
    background-color: #f0f0f0; /* Fond blanc pour le menu */
    padding: 10px;
    text-align: center;
}
    nav .menu {
        flex-direction: row;
        gap: 20px;
    }
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 0px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 0px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); /* Ombre sur les liens */
}

nav ul li a:hover {
    background-color: #FFD700; /* Jaune or au survol */
    color: #333;
     padding: 0 5px;           /* Espace autour du texte */
  display: inline-block;    /* Nécessaire pour l'effet arrondi */
}
.logo-container {
    display: fixed;
    justify-content: center;
    align-items: center;
    height: 100px; /* ou une autre hauteur qui convient */
}

ul {
  list-style-type: none; /* Supprime les puces */
  padding: 0; /* Enlève l'espace intérieur */
  margin: 0; /* Enlève les marges par défaut */
}

li {
 list-style-type: none; /* Supprime les puces */
  margin-bottom: 0px; /* Optionnel : espace entre les éléments de la liste */
}

/* Conteneur principal */
#contenu-principal {
    width: 100%;
    margin: 0px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
    padding: 0px;
    text-align: center;
}

/* Titre principal de la page */
#contenu-principal h2 {
    color: #FFD700; /* Jaune or */
    font-size: 18px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); /* Ombre légère */
    text-align: center;
}

/* Bouton */
.button {
    background-color: #555; /* Gris foncé */
    color: white;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Ombre 3D */
}

.button:hover {
    background-color: #FFD700; /* Jaune or au survol */
    color: #333;
}

/* Footer */
footer {
    background-color: #555; /* Gris foncé */
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); /* Ombre légère */
}

footer a:hover {
    text-decoration: underline;
}

/* Style de la galerie */
.gallery {
  display: fixed;
  gap: 0px;
  justify-items: center;
  margin-top: 0px;
  width: 80%;
  max-width: 600px; /* Limite de largeur pour éviter trop de photos par ligne */
}

.gallery img {
  width: 80%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(3.05);
}


/* Style du bouton de scroll */
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #555; /* Gris foncé */
    color: white;
    border: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 60%;
    cursor: pointer;
    display: none;
    z-index: 1000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Ombre douce */
}

/* Apparence du bouton au survol */
#scrollToTopBtn:hover {
    background-color: #FFD700; /* Jaune or au survol */
}

/* Logo */
.logo {
    height: 100px;
}

/* Menu responsive */
@media (max-width: 768px) {
    nav .menu {
        flex-direction: column;
        gap: 10px;
    }
    table{
    border-collapse: collapse; /* Supprime les espaces entre les bordures */
  width: auto;              /* Réduit la largeur du tableau à son contenu */
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 0px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 0px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); /* Ombre sur les liens */
}

nav ul li a:hover {
    background-color: #FFD700; /* Jaune or au survol */
    color: #333;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; /* ou une autre hauteur qui convient */
}

    .logo {
        height: 45px;
    }
    /* Galerie */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Aligner les images par 2 ou 4 maximum */
    gap: 0px;
    justify-items: center;
    margin-top: 0px;
    width: 40%;
    max-width: 600px;
}

.gallery img {
    width: 40%;
    height: auto;
    object-fit: cover;
    border-radius: 2px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(2.05); /* Effet de zoom 3D */
}
/* Bouton */
.button {
    background-color: #555; /* Gris foncé */
    color: white;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Ombre 3D */
}
}
