/* Général */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff; /* Fond blanc */
    color: #4A4A4A; /* Texte gris clair */
    margin: 0;
    padding: 30px;
}

/* Conteneur principal */
#contenu-principal {
    width: 100%;
    margin: 0px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Ombre subtile */
    padding: 20px;
    text-align: center;
}

/* Titre principal de la page */
#contenu-principal h2 {
    color: #4A4A4A; /* Gris foncé */
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

/* Style des titres */
h1, h2, h3, h4, h5 {
    color: #333333; /* Titres en noir */
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

/* Centrage du texte */
.texte-centre {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Boutons */
.button {
    display: inline-block;
    background-color: #FFCC00; /* Jaune or */
    color: #333333; /* Texte noir */
    font-size: 18px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: #FFB900; /* Jaune plus foncé */
    transform: scale(1.05);
}

/* Footer */
footer {
    background-color: #333333; /* Fond noir */
    color: white;
    padding: 30px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

/* Menu de navigation */
nav {
    background-color: #333333; /* Fond noir */
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #FFCC00; /* Jaune or */
    color: #333333; /* Texte noir */
}

/* Galerie */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-top: 20px;
    width: 80%;
    max-width: 800px;
}

.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
}

/* Style du bouton fleche */
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FFCC00;
    color: #333333;
    border: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

#scrollToTopBtn:hover {
    background-color: #FFB900;
}

/* Responsive */
@media (max-width: 768px) {
    nav ul {
        flex-direction: row;
        gap: 10px;
    }

    .gallery {
        width: 100%;
        max-width: none;
    }

    .gallery img {
        width: 90%;
    }
}
